/*button {*/
/*    max-width: fit-content;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    gap: .2rem;*/
/*    padding: .5rem;*/
/*    font-size: .875rem;*/
/*    font-weight: 600;*/
/*    border-radius: 0.75rem;*/
/*    border: 1px solid var(--color-green);*/
/*    background-color: var(--color-green);*/
/*    color: var(--text-color-light);*/
/*    transition: background-color 0.2s, color .2s;*/
/*}*/

button svg{
    width: 1.25rem;
    height: 1.25rem;
}

button:hover {
    cursor: pointer;
    background-color: var(--color-green-light);
    color: var(--text-color-secondary);
    transition: background-color .2s, color .2s;
}

.dark button:hover{
    color: #656a69;
}

button.small{
    padding: .125rem .256rem;
}

button.small svg{
    width: 1rem;
    height: 1rem;
}

button.small.circle{
    padding: .125rem;
}

button.delete{
    background-color: var(--color-red);
    border-color: var(--color-red);
    color: var(--color-white);
}

button.delete:hover{
    background-color: var(--color-red-light);
    color: var(--color-red);
}

button.upload{
    background-color: transparent;
    border-color: var(--color-green);
    color: var(--color-green);
}

button.upload:hover{
    background-color: var(--color-green-light);
}

button.cancel{
    background-color: var(--color-gray-300);
    border-color: var(--color-gray-300);
    color: var(--text-color-secondary);
}

button.cancel:hover{
    background-color: var(--color-gray-200);
}

button.actions{
    background-color: transparent;
    border-color: transparent;
}

button.close{
    padding: var(--spacing-0);
    background-color: transparent;
    border-color: transparent;
    color: var(--text-color-secondary);
}

button:disabled {
    border: 1px solid var(--color-green);
    background-color: var(--color-green);
    opacity: .7;
    cursor: not-allowed;
    color: var(--text-color-light);
}