h1 {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

h4, h5, h6 {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    margin-bottom: .5rem;
}

p.subtitle{
    font-size: .875rem;
    color: var(--text-color-secondary);
    margin-bottom: 0;
}